@import "~bootstrap/scss/bootstrap";

.table {
    margin: 1rem 0;
}

.list-group {
    margin: 10px 0;

    .list-group-item {
        color: white;
    }

    .list-group-item:nth-child(odd) {
        background-color: #3e444a;
    }

    .list-group-item:nth-child(even) {
        background-color: #343a40;
    }
}